.img-char {
    display: flex;
    justify-content: center;
}

.img-char img {
    height: 100px;
    width: 100px;
    margin-top: 1rem;
    border-radius: 1rem;
}

i{
    font-size: 30px;
    cursor: pointer;
}

i:hover{
    font-size: 35px;
    cursor: pointer;
    transition: font-size 0.1s ease-out;
}
.char-text{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

