@import url('http://fonts.cdnfonts.com/css/afarat-ibn-blady');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	/* font-size: 18px; */
	/* width: 700px; */
	text-align: center;
	/* margin: 0px auto; */
	color: #111111;
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('images/misc/78825.jpg');
	background-size: contain;
	/* margin: 0; */
}

section {
	display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-evenly;
	margin: 20px 0;
}

/* #character-option-part {
	display: flex;
	height: 300px;
	align-items: center;
	justify-content: space-evenly;
	margin: 20px 0;
} */

#prediction {
	font-family: 'Montserrat', sans-serif;
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	border: 0.1px solid #111;
	border-radius: 5px;
	font-size: 500px;
	line-height: 500px;
	background-color: #fae3af8a;;
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-canvas {
	border-radius: 5px;
	cursor: pointer;
}

#small-canvas, #small-main-canvas {
	display: none;
}

button {
	font: inherit;
	text-transform: uppercase;
	height: 40px;
	padding: 0 16px;
	border: 0.5px solid #111;
	border-radius: 4px;
	background: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
}

button:hover {
	background-color: #111;
	color: white;
}



.arabic-title, .title{
	font-size: 48px;
	margin: 20px;
	display: inline;
}

.arabic-title {
	font-family: 'Afarat ibn Blady', sans-serif;
	margin-bottom: 0;
	margin-top: 1rem;
	/* display: block; */
}

.title {
	font-family: 'Sofia', cursive;
	margin-top: 0;
	margin-bottom: 1rem;
}

.navbar {
	background-color: #fae4afae;
	justify-content: center;
}

.btn-home {
	background-color: rgb(52, 51, 51);
	height: 300px;
	width: 500px;
	font-size: 5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	/* margin-top: 2em; */
	border-radius: 0.5em;
	margin-bottom: 2em;
}

.btn-home:hover {
	background-color: #f6c960bf;
	color: rgb(52, 51, 51);
	transition: background-color 0.1s ease;
	text-decoration: none;
}

.home-buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(21, 20, 20);
}

.p-footer {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: larger;
}

.p-home {
	font-family: 'Montserrat', sans-serif;
	margin-top: 2.5em;
	margin-bottom: 3.5em;
	font-size: 1.5em;
	color: rgb(53, 52, 52);
}

