<!DOCTYPE html>
<html>

<head>
  <title>H U R U F- Character</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5"> </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <!-- Titles -->
    <div class="grp-title">
      <h1 class="arabic-title">حروف</h1>
      <h1 class="title">HURUF</h1>
    </div>
    <!-- dropdowns -->
    <div class="grp-dropdown">
      <div class="dropdown">
        <button onclick="myFunction('character')" class="dropbtn dropbtn-character btn-digit-learn">Character <i class="fas fa-angle-down"></i></button>
        <div id="myDropdown-character" class="dropdown-content dropdown-character">
          <a href="/character/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/character/test"><i class="fa fa-pen" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
      <div class="dropdown">
        <button onclick="myFunction('digit')" class="dropbtn dropbtn-digit btn-digit-learn">Digit <i class="fas fa-angle-down"></i></i>
        </button>
        <div id="myDropdown-digit" class="dropdown-content dropdown-digit">
          <a href="/digit/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/digit/test"><i class="fa fa-pen" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
      <button id="back" style="margin-left: 2rem;" class="dropbtn dropbtn-digit btn-digit-learn" onclick="goBack()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
    </div>
  </nav>
  <div class="bio">
    <p class="p-home">
      "Learn" to brush up your handwriting. Then start "Test" for practice.
    </p>
  </div>

  
  <!-- <section>
    <canvas id="main-canvas" width="300" height="300"></canvas>
    <canvas id="small-main-canvas" width="64" height="64"></canvas>
    <canvas id="small-canvas" width="64" height="64"></canvas>
    <div id="prediction"></div>
    <h2 id="label"></h2>
  </section> -->
  
  <div class="home-buttons">
    <a href="/character/learn" class="btn-home" role="button">Learn</a>
  <a href="/character/test" class="btn-home" role="button">Test</a>
  </div>
  
  <!-- <button id="erase">Clear</button>
  <button id="predict">Predict</button> -->

  <footer>
    <p class="p-footer">Arabic Digit & Character recognition using Convolutional Neural Networks. Built with Keras and
      TensorFlow.js</p>
  </footer>
</body>

<script>
  function goBack() {
        location.href="/"
  }
</script>

</html>
