<!DOCTYPE html>
<html>

<head>
  <title>H U R U F</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5"> </script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/digit_test.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light" style="display: block; scale: 1.15">
    <!-- Titles -->
      <h1 class="arabic-title" style="display: block;">حروف</h1>
      <h1 class="title" style="display: block;">HURUF</h1>
    <!-- dropdowns -->
    <!-- <div class="grp-dropdown">
      <div class="dropdown">
        <button onclick="myFunction('character')" class="dropbtn dropbtn-character btn-digit-learn">Character <i class="fas fa-angle-down"></i></button>
        <div id="myDropdown-character" class="dropdown-content dropdown-character">
          <a href="/character/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/character/test"><i class="fa fa-pen" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
      <div class="dropdown">
        <button onclick="myFunction('digit')" class="dropbtn dropbtn-digit btn-digit-learn">Digit <i class="fas fa-angle-down"></i></i>
        </button>
        <div id="myDropdown-digit" class="dropdown-content dropdown-digit">
          <a href="/digit/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/digit/test"><i class="fa fa-pen" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
      <button id="back" style="margin-left: 2rem;" class="dropbtn dropbtn-digit btn-digit-learn" onclick="goBack()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
    </div> -->
  </nav>
    <div class="bio">
    <p class="p-home">
      Start writing on the black canvus without any hint and see your score!</p>
  </div>
  <span onclick="loadAudio()"><i class='fas fa-volume-up'></i></span>
  <audio autoplay id="audio">
    <source id="audio_source" src="" type="audio/ogg">
  </audio>
  <!-- <div style="display: flex; justify-content: space-between;"> -->
  <p id="writingDigit" style="font-size: 220%; font-weight: bold;margin-top: 0.5em;"></p>
  <!-- </div> -->
  <div class="char-text">
    <p id="writingDigit_text_eng" style="font-size: 200%; font-weight: bold; display: none;"></p>
    <p id="writingDigit_text_arb" style="font-size: 200%; font-weight: bold; display: inline;"></p>
  </div>
  <section id="canvas-part">
    <canvas id="main-canvas" width="300" height="300"></canvas>
    <canvas id="small-main-canvas" width="64" height="64"></canvas>
    <canvas id="small-canvas" width="64" height="64"></canvas>
    <div id="prediction" style="line-height: 1.6;"></div>
  </section>
  <div style="padding-left: 1%;">
    <h2 id="label"></h2>
  </div>
  <div class="btn-digit-test">
    <button id="erase">Clear</button>
    <button id="predict">Predict</button>
    <button id="tryAnother">Try Another</button>
    <button id="back" onclick="goBack()">Back</button>
  </div>
 
  <footer class="footer-char">
    <p class="p-footer-char">Built with Keras and
      TensorFlow.js</p>
  </footer>

  <script src="/image_class.js"></script>
  <script src="/predict_digit_test.js"></script>

  <script>

    $("#tryAnother").on('click', function () {
      // location.href = '/digit/test-test';
      erase();
      random_digit();
      // console.log(document.getElementById('audio_source'));
    });

    function loadAudio() {
      document.getElementById('audio').play();
      // console.log(document.getElementById('audio_source'));
    }

    function goBack() {
      location.href = "/digit"
    }

      // document.getElementById('predict').addEventListener('click', give_verdict($("#writingDigit").text()));


  </script>
  <!-- for dropdown -->
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction(value) {
      if(value == 'character') {
        document.getElementById("myDropdown-character").classList.toggle("show");
      }
      else if(value == 'digit') {
        document.getElementById("myDropdown-digit").classList.toggle("show");
      } 
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn-character')) {
        var dropdowns = document.getElementsByClassName("dropdown-character");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
      if (!event.target.matches('.dropbtn-digit')) {
        var dropdowns = document.getElementsByClassName("dropdown-digit");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</body>

</html>