<!DOCTYPE html>
<html>

<head>
  <title>H U R U F</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5"> </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand arabic-title" href="#">حروف</a> -->
    <!-- <h1 class=""></h1> -->
    <!-- <h1 class="arabic-title">حروف</h1>
    <h1 class="title">HURUF</h1> -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
    </ul>
    <div class="huruf-logo">
      <h1 class="arabic-title" >حروف:</h1>
      <h1 class="title">HURUF</h1>
    </div>
  </nav>
  <div class="bio">
    <p class="p-home">
      Huruf is an Arabic Character and Digit recognition app <br> that has been specially developed
      for enthusiasts who want to learn arabic language.
    </p>
  </div>

  <!-- <section>
    <canvas id="main-canvas" width="300" height="300"></canvas>
    <canvas id="small-main-canvas" width="64" height="64"></canvas>
    <canvas id="small-canvas" width="64" height="64"></canvas>
    <div id="prediction"></div>
    <h2 id="label"></h2>
  </section> -->
  <div class="home-buttons">
    <a href="/character" class="btn-home" role="button">Character</a>
    <a href="/digit" class="btn-home" role="button">Digit</a>
  </div>

  <!-- <button id="erase">Clear</button>
  <button id="predict">Predict</button> -->

  <footer>
    <p class="p-footer">Built with Keras and
      TensorFlow.js</p>
  </footer>
</body>

</html>