<!DOCTYPE html>
<html>

<head>
  <title>H U R U F - Home</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5"> </script>
  <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Default</a> -->
    <h1 class="arabic-title">حروف</h1>
    <h1 class="title">HURUF</h1>
    <!-- dropdown -->
    <div class="grp-dropdown">
      <div class="dropdown">
        <button onmouseover="myFunction('character')" class="dropbtn-character btn-digit-learn"><i class="fa fa-arrow-down" aria-hidden="true"></i>
           Character</button>
        <div id="myDropdown-character" class="dropdown-content dropdown-character">
          <a href="/character/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/character/test"><i class="fa fa-pencil" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
      <div class="dropdown">
        <button onmouseover="myFunction('digit')" class="dropbtn-digit btn-digit-learn">Digit <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div id="myDropdown-digit" class="dropdown-content dropdown-digit">
          <a href="/digit/learn"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Learn</a>
          <a href="/digit/test"><i class="fa fa-pencil" aria-hidden="true"></i>
            Test</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="bio">
    <p class="p-home">
      Huruf is an Arabic Character and Digit recognition app <br> that has been specially developed
      for enthusiasts who want to learn arabic language.
    </p>
  </div>
  <!-- <section>
    <canvas id="main-canvas" width="300" height="300"></canvas>
    <canvas id="small-main-canvas" width="64" height="64"></canvas>
    <canvas id="small-canvas" width="64" height="64"></canvas>
    <div id="prediction"></div>
    <h2 id="label"></h2>
  </section> -->
  <div class="home-buttons">
    <a href="/character" class="btn-home" role="button">Character</a>
    <a href="/digit" class="btn-home" role="button">Digit</a>
  </div>

  <!-- <button id="erase">Clear</button>
  <button id="predict">Predict</button> -->

  <footer>
    <p class="p-footer">Built with Keras and
      TensorFlow.js</p>
  </footer>
  
  <!-- for dropdown -->
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction(value) {
      if(value == 'character') {
        document.getElementById("myDropdown-character").classList.toggle("show");
      }
      else if(value == 'digit') {
        document.getElementById("myDropdown-digit").classList.toggle("show");
      } 
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn-character')) {
        var dropdowns = document.getElementsByClassName("dropdown-character");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
      if (!event.target.matches('.dropbtn-digit')) {
        var dropdowns = document.getElementsByClassName("dropdown-digit");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script> 
</body>

</html>